
@{
    ViewBag.Title = "CreateCourse";
}


<link type="text/css" rel="stylesheet" href="~/Content/Admin.css">

<div class="clearfix">



    <div class="admin-createCourse-buttons">
        <button class="btn btn-primary save-button">Save</button>
        <br />
        <button class="btn btn-primary upload-csv-button" id="createUser">Upload CSV</button>
    </div>


    <div class="left-portion">
        <form class="form-horizontal">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control" id="Name" /><br/>
            <label for="teachers">Teacher</label>
            <select name="teachers" class="form-control" id="teachers">
                <option value="Hrafn">Hrafn</option>
                <option value="Dabs">Dabs</option>
                <option value="Arri Oxels">Arri Oxels</option>
                <option value="Farði Breyr">Farði Breyr</option>
            </select>
        </form>
        <br />
        <br />
    </div>
    <div class="userTable">
        <label for="addUser">Add User</label>
        <select name="addUser" class="form-control" id="addUser">
            <option value="Ólafur">Ólafur</option>
            <option value="Orri Axels">Orri Axels</option>
            <option value="Victor">Victor</option>
            <option value="Barði Freyr">Barði Freyr</option>
            <option value="Jón Örn">Jón Örn</option>
        </select>
        <br/>
        <table class="table table-hover">
            <thead>
                    <tr>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jón Örn</td>
                    <td>NonniGumm@ru.is</td>
                    <td>Student</td>
                    <td>05-May-16 13:37:00</td>
                </tr>
            <tbody>
        </table>
    </div>





</div>

