@model Mooshak___H37.Services.Viewmodels.AdminErrorViewmModel

@{
    ViewBag.Title = "Admin Homepage";
}

<div class="clearfix">

    <link type="text/css" rel="stylesheet" href="~/Content/Admin.css">

    <h2>AdminHomePage</h2>

    <div class="admin-home-buttons">
        <button class="btn btn-primary create-button">Create Course</button>
        <br/>
        <button class="btn btn-primary create-button" id="createUser">Create User</button>

    </div>

    <div>
        <div id="messages" class="left-portion">
            <h3>Messages</h3>
            <table id="message" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ipsum</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dolar</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="due-assignments" class="right-portion">
            <h3>Error Reports</h3>
            <table id="assignments" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Date</th>
                        <th>Error type</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @{int rowNo = 0;}
                    @for (int i = 0; i < 3; i++)
                    {
                        <tr>
                            <td>
                                @(rowNo += 1)
                            </td>
                            <td>
                                12/0 @i
                            </td>
                            <td>
                                error @i
                            </td>
                            <td>
                                Hrafn
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
