@{
    ViewBag.Title = "Index";
}

<div id="messages" class="left-portion">
    <table id="message" class="table table-hover">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Please change you..</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Please change you..</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dueAssignments" class="right-portion">
    <table id="assignments" class="table table-hover">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Name</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Assignment 1</td>
                <td>12.04.2016</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Assignment 1</td>
                <td>12.05.2016</td>
            </tr>
        </tbody>
    </table>

</div>