body {
}

.admin-home-buttons
{
    float: right;    
}

.right-table
{

}

#button-add
{
    float: left;
}

.admin-createCourse-buttons
{
    float: right; 
    margin-top: 3%;
}

.save-button
{
    padding-left: 35%;
    padding-right: 35%;
}

.userTable
{
    margin-top: 20%;
}

#createUser
{
    padding-left: 16%;
    padding-right: 16%;
}

#messages
{
    margin-top: 6%;
}
