body {
}

.admin-home-buttons
{
    float: right;    
}

#addUser
{
    margin-left: -23%;
}

#create-table
{
    margin-left: 20%;
}

.add-course
{
    margin-left: 20%;
    margin-bottom: 0%;
}

.add-course-2
{
    margin-top: -10%;
}

.admin-createCourse-buttons
{
    float: right; 
    margin-top: 3%;
}

.save-button
{
    padding-left: 35%;
    padding-right: 35%;
}

.userTable
{
    margin-top: 20%;
}

#createUser
{
    padding-left: 16%;
    padding-right: 16%;
}

#messages
{
    margin-top: 6%;
}
