@model IEnumerable<Mooshak___H37.Models.Viewmodels.AssignmentViewModel>

@{
    ViewBag.Title = "Student Homepage";
}

<div class="page-header">
    <h1>Welcome to Mooshak++ <small>Due Assignments</small></h1>
</div>

<div class="clearfix">
    <div id="due-assignments" class="large-left-portion">
        <table id="assignments" class="table table-hover">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int rowNo = 0;}
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @(rowNo += 1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "ViewAssignment", new { id = item.ID })
                        </td>
                        <td>
                          
                        </td>   
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>